:root {
    --primary-color: #333; /* Primary text color */
    --secondary-color: #777; /* Subtitle text color */
    --accent-color: #555; /* Blog content text color */
    --background-color: white; /* Background color */
    --box-shadow-color: rgba(0, 0, 0, 0.1); /* Box shadow color */
    --hover-color: #171717; /* Hover color for the back button */
    --link-color: #838383;
    --iframe-shadow-color: rgba(0, 0, 0, 0)
}

body.dark-mode {
    --primary-color: #ccc;
    --secondary-color: #aaa;
    --accent-color: #bbb;
    --background-color: #121212;
    --box-shadow-color: rgba(0, 0, 0, 0.1); /* Lightened box shadow color */
    --hover-color: #cacaca; /* Hover color for dark mode */
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--background-color); /* Set the background color to the variable */
    margin: 0;
    padding: 0; /* Removed padding to make full use of the space */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: relative; /* Added to position the home link absolutely */
}

.home-link {
    text-decoration: none;
    color: var(--link-color); /* Use primary color variable */

    font-size: 1em;
    position: absolute;
    top: 20px; /* Default position when not in iframe */
    left: 20px; /* Positioned at the left */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.home-link-icon {
    margin-right: 5px;
}

.home-link:hover {
    color: var(--hover-color); /* Change color on hover */
}

.blog-container {
    width: 100%;
    max-width: 800px;
    background-color: var(--background-color); /* Keep the blog container background white */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px var(--box-shadow-color); /* Use box shadow color variable */
    margin-top: 50px; /* Default margin from the top */
}

.blog-title {
    font-size: 2em;
    color: var(--primary-color); /* Use primary color variable */
    margin-bottom: 10px;
    text-align: left;
}

.blog-subtitle {
    font-size: 1.1em;
    color: var(--secondary-color); /* Use secondary color variable */
    margin-bottom: 20px;
    text-align: left;
}

.blog-content {
    font-size: 16px;
    color: var(--accent-color); /* Use accent color variable */
    line-height: 1.6;
}

/* Styles specific to iframe mode */
.iframe-mode .home-link {
    top: 40px; /* Lower the back button when in iframe */
}

.iframe-mode .blog-container {
    margin-top: -0px; /* Move the content higher when in iframe */
    box-shadow: var(--iframe-shadow-color);
    width:90%;
}

