:root {
    --primary-color: #333;
    --secondary-color: #313131;
    --accent-color: #555;
    --background-color: white;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --hover-color: #171717;
    --link-color: #d5d5d5;
    --code-background: #f5f5f5;
    --code-text-color: #202020;
}

html.dark-mode {
    --primary-color: #ccc;
    --secondary-color: #d8d8d8;
    --accent-color: #bbb;
    --background-color: #121212;
    --box-shadow-color: rgba(0, 0, 0, 0.0);
    --hover-color: #cacaca;
    --link-color: #a8a8a8;
    --code-background: #1e1e1e;
    --code-text-color: #d1d1d1;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--background-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.home-link {
    text-decoration: none;
    color: var(--link-color);
    font-size: 1em;
    position: absolute;
    top: 40px;
    left: 40px;
    transition: color 0.3s ease;
}

 .home-link-icon {
    margin-right: 5px;
}

.home-link:hover {
    color: var(--hover-color);
}

.blog-container {
    width: 100%;
    max-width: 800px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    margin-top: 50px;
}

.blog-title {
    font-size: 2em;
    color: var(--primary-color);
}


.blog-subtitle {
    font-size: 1.1em;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.blog-content {
    font-size: 16px;
    color: var(--accent-color);
    line-height: 1.6;
}

.code-container {
    background-color: var(--code-background);
    color: var(--code-text-color);
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
}

pre, code {
    margin: 0;
    white-space: pre;
    text-align: left;
}

/* Styles specific to iframe mode */
.iframe-mode .home-link {
    top: 40px; /* Lower the back button when in iframe */
}

.iframe-mode .blog-container {
    margin-top: 20px;
}

img {
    width: 300px;
    border-radius: 10px;
    float: right; /* Float the image to the left */
}

a {
    text-decoration: none;
    color: var(--secondary-color); /* Using the same link color variable */

}

.text_link a {
    border-bottom: 1px dashed var(--link-color);
}

.text_link a:hover {
    color: var(--hover-color);
}




pre, code {
    margin: 0;
    white-space: pre;
    text-align: left;
}



.token.keyword {
    color: #ff5dd4; /* Blue for keywords */
}

.token.string {
    color: #ffa37e; /* Orange for strings */
}

.token.function {
    color: #ffff79; /* Yellow for function calls */
}

.token.comment {
    color: #6A9955; /* Green for comments */
}

.token.builtin {
    color: #fffca5; /* Green for comments */
}

.token.punctuation {
    color: #e4e4e4; /* Green for comments */
}
.token.variable, .token.parameter {
    color: #9CDCFE; /* Light blue for variables and parameters */
}


